In [40]:
import pandas as pd
import numpy as np

In [132]:
def data_prep(load):
    if load:
        df = pd.read_csv('readydata.csv')
        return df
    else:
        df = pd.read_spss('r29i_os_54.sav')
        df = df[df['region']=='Челябинск']
        # exclude rows without salary
        df.dropna(subset=['yj13.2'], axis='rows', inplace=True)
        df=df.loc[(df['yj13.2'] != 'ЗАТРУДНЯЮСЬ ОТВЕТИТЬ') & (df['yj13.2'] != 'НЕТ ОТВЕТА') & (df['yj13.2'] != 'ОТКАЗ ОТ ОТВЕТА')]
        # drop irrelevant data
        df = df[['yj13.2', 'yh5', 'yj161.3y', 'yh6', 'y_marst', 'yj72.172', 'yl5', 'ym3', 'yj72.18a', 'yj6.2', 'yj4.1', 'yj6', 'yj6.0']]
        df = df.rename(columns={'yj13.2': 'salary',
                                'yh5': 'gender',
                                'yj161.3y':'experience',
                                'yh6':'age',
                                'y_marst':'mariage_status',
                                'yj72.172':'children',
                                'yl5':'health_problems',
                                'ym3':'health_lvl',
                                'yj72.18a':'education',
                                'yj6.2':'workweek',
                                'yj4.1':'work_field',
                                'yj6':'has_subs', # подчиненные
                                'yj6.0':'count_subs'
                                })
        for col in df.columns:
            df[col]=df[col].replace(to_replace='ЗАТРУДНЯЮСЬ ОТВЕТИТЬ', value=np.nan)
            df[col]=df[col].replace(to_replace='ОТКАЗ ОТ ОТВЕТА', value=np.nan)
            df[col]=df[col].replace(to_replace='НЕТ ОТВЕТА', value=np.nan)
            df.fillna(method='ffill', inplace=True)
            df.fillna(method='bfill', inplace=True)
            
        df['gender'] = df['gender'].map({'МУЖСКОЙ':1, 'ЖЕНСКИЙ':2})
        df['experience']=df['experience'].replace(to_replace='НЕ БЫЛО СТАЖА', value=0)
        df['age']=2020-df['age']
        df['health_problems'] = df['health_problems'].map({'Нет':0, 'Да':1})
        df['has_subs'] = df['has_subs'].map({'Нет':0, 'Да':1})
        df['health_lvl'] = df['health_lvl'].map({'Очень хорошее':1, 
                                         'Хорошее':2, 
                                         'Среднее, не хорошее, но и не плохое':3,
                                         'Плохое':4,
                                         'Совсем плохое':5})
        low = ['НАЧАЛЬНАЯ ИЛИ НЕПОЛНАЯ СРЕДНЯЯ ШКОЛА',
                'ПОЛНАЯ СРЕДНЯЯ ШКОЛА',
                'ПРОФЕССИОНАЛЬНЫЕ КУРСЫ ШОФЕРОВ, ТРАКТОРИСТОВ, БУХГАЛТЕРОВ, МАШИНИСТОК И Т.П.',
                'ПТУ, ФЗУ, ФЗО БЕЗ СРЕДНЕГО ОБРАЗОВАНИЯ',
                'ПТУ СО СРЕДНИМ ОБРАЗОВАНИЕМ, ТЕХНИЧЕСКОЕ УЧИЛИЩЕ (среднее проф.образ. - подготовкa квалифицир.рабочих и служащих',
                'ТЕХНИКУМ, МЕДИЦИНСКОЕ, МУЗЫКАЛЬНОЕ, ХУДОЖЕСТВЕННОЕ, ПЕДАГОГ. УЧИЛИЩЕ (среднее проф.образ. - специалист сред.звена)',
                'ИНСТИТУТ, УНИВЕРСИТЕТ, АКАДЕМИЯ - ДИПЛОМ О СРЕДНЕМ ПРОФЕССИОНАЛЬНОМ ОБРАЗОВАНИИ']
        high = ['ИНСТИТУТ, УНИВЕРСИТЕТ, АКАДЕМИЯ - ДИПЛОМ СПЕЦИАЛИСТА',
                'ИНСТИТУТ, УНИВЕРСИТЕТ, АКАДЕМИЯ - ДИПЛОМ БАКАЛАВРА',
                'ИНСТИТУТ, УНИВЕРСИТЕТ, АКАДЕМИЯ - ДИПЛОМ МАГИСТРА',
                'АСПИРАНТУРА БЕЗ ПОЛУЧЕНИЯ УЧЕНОЙ СТЕПЕНИ',
                'ОРДИНАТУРА, ИНТЕРНАТУРА',
                'УЧЕНАЯ СТЕПЕНЬ КАНДИДАТА НАУК',
                'УЧЕНАЯ СТЕПЕНЬ ДОКТОРА НАУК',
                'ОРДИНАТУРА, ИНТЕРНАТУРА']
        not_married = ['Никогда в браке не состояли', 'Разведены и в браке не состоите', 'Bдовец (вдова)']
        married = ['Состоите в зарегистрированном браке', 'Живете вместе, но не зарегистрированы', 'ОФИЦИАЛЬНО ЗАРЕГИСТРИРОВАНЫ, НО ВМЕСТЕ НЕ ПРОЖИВАЮТ']
        df.replace(dict.fromkeys(not_married, 0), inplace=True)
        df.replace(dict.fromkeys(married, 1), inplace=True)
        df.replace(dict.fromkeys(low, 0), inplace=True)
        df.replace(dict.fromkeys(high, 1), inplace=True)
#         cat_columns = ['salary', 'experience', 'children', 'workweek', 'count_subs']
#         df[cat_columns] = df[cat_columns].apply(lambda x: x.cat.codes)
        df.reset_index(inplace=True, drop=True)
        filename = 'readydata.csv'
        df.to_csv(filename, encoding='utf-8')
        return df

load=True
df=data_prep(load)
df.head()

,Unnamed: 0,salary,gender,experience,age,mariage_status,children,health_problems,health_lvl,education,workweek,work_field,has_subs,count_subs
0,0,30000.0,1,25.0,49.0,0,1.0,0,2,0,45.0,ДРУГАЯ ОТРАСЛЬ ТЯЖЕЛОЙ ПРОМЫШЛЕННОСТИ,0,6.0
1,1,30000.0,2,21.0,47.0,1,2.0,0,3,1,40.0,ОПЕРАЦИИ С НЕДВИЖИМОСТЬЮ,1,6.0
2,2,26000.0,1,4.0,26.0,0,2.0,1,2,0,40.0,ДРУГАЯ ОТРАСЛЬ ТЯЖЕЛОЙ ПРОМЫШЛЕННОСТИ,1,5.0
3,3,40000.0,2,8.0,29.0,1,2.0,0,3,1,40.0,"ТРАНСПОРТ, СВЯЗЬ",0,5.0
4,4,30000.0,1,16.0,40.0,1,2.0,0,2,0,40.0,"ТОРГОВЛЯ, БЫТОВОЕ ОБСЛУЖИВАНИЕ",0,5.0

In [146]:
# процент средней женской зарплаты от мужской по отраслям
field=df.work_field.unique()
for wf in field:
    m=df[(df.work_field==wf)&(df.gender==1)]['salary'].mean()
    f=df[(df.work_field==wf)&(df.gender==2)]['salary'].mean()
    print(wf, f/m*100)

ДРУГАЯ ОТРАСЛЬ ТЯЖЕЛОЙ ПРОМЫШЛЕННОСТИ 72.91666666666667
ОПЕРАЦИИ С НЕДВИЖИМОСТЬЮ nan
ТРАНСПОРТ, СВЯЗЬ 68.40796019900498
ТОРГОВЛЯ, БЫТОВОЕ ОБСЛУЖИВАНИЕ 77.33463035019456
ОБРАЗОВАНИЕ 98.18181818181819
ЗДРАВООХРАНЕНИЕ nan
НЕФТЕГАЗОВАЯ ПРОМЫШЛЕННОСТЬ nan
ВОЕННО-ПРОМЫШЛЕННЫЙ КОМПЛЕКС nan
ЛЕГКАЯ, ПИЩЕВАЯ ПРОМЫШЛЕННОСТЬ 79.34560327198363
ЮРИСПРУДЕНЦИЯ 100.0
СТРОИТЕЛЬСТВО 59.855072463768124
ЖИЛИЩНО-КОММУНАЛЬНОЕ ХОЗЯЙСТВО 158.13953488372093
ГРАЖДАНСКОЕ МАШИНОСТРОЕНИЕ 141.50943396226415
ФИНАНСЫ 140.0
НАУКА, КУЛЬТУРА nan
ЭНЕРГЕТИЧЕСКАЯ ПРОМЫШЛЕННОСТЬ 43.84615384615385
IT, ИНФОРМАЦИОННЫЕ ТЕХНОЛОГИИ nan
АРМИЯ, МВД, ОРГАНЫ БЕЗОПАСНОСТИ 168.10344827586206